/* http://freefrontend.com/css-timelines/ */

.narra-fade-li { opacity: 0; }

.timeline { color: #fff; }

.timeline ul { padding: 0; }

.timeline ul li {
	/* line color */
	background: #353943;
	position: relative;
	margin: 0 auto;
	width: 4px;
	padding-bottom: 40px;
	list-style-type: none;
}

.timeline ul li:before {
	content: '';
	background: #faf8eb;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 20px;
	height: 20px;
	border: 3px solid #353943;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.timeline ul li .content {
	background-color: #353943;
	position: relative;
	top: 7px;
	width: 450px;
	padding: 20px;

	box-shadow: 0px 12px 40px #080808;
}

.timeline ul li .content:before {
	content: '';
	background: #353943;
	position: absolute;
	top: 0px;
	width: 39px;
	height: 4px;
}

.timeline ul li:nth-child(odd) .content { left: 50px; }
.timeline ul li:nth-child(odd) .content:before { left: -38px; }
.timeline ul li:nth-child(even) .content { left: calc(-450px - 45px); }
.timeline ul li:nth-child(even) .content:before { right: -38px; }

/* ------------------------- Media Queries ------------------------- */
@media screen and (max-width: 1020px) {
	.timeline ul li .content { width: 41vw; }
	.timeline ul li:nth-child(even) .content { left: calc(-41vw - 45px); }
}

@media screen and (max-width: 700px) {
	.timeline ul li { margin-left: 20px; }
	.timeline ul li .content { width: calc(100vw - 100px); }
	.timeline ul li:nth-child(even) .content { left: 50px; }
	.timeline ul li:nth-child(even) .content:before { left: -38px; }
}
